.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customselect {
    position: relative;
    display: inline-block;
  }
  
  .select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .filter {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    color: #739072;
    pointer-events: none;
  }
  
  