@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
    font-family: 'Lora', serif;
}
body{
    background-color: #FBF6F0;
}
.post{
    display: flex;
    max-width: 900px;
    width: 100%;
    height: 210px;
    margin: 2% 10%;
    border-radius: 30px;
    background-color: #FFFFFF;
}
.post .first{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.post .first button{
    background-color: #FFFFFF;
    border-radius: 30px;
    border: solid 2px #739072;
    width: 50%;
    cursor: pointer;
    margin-top: 5%;
}
.post .first button:hover{
    background-color:#739072 ;
}
          
.post .tag-icon{
    display: flex;
    justify-content:space-between ;
}
.post .tag{
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
}
.post .language,.post .category{
    border:none;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    background-color:#ECE3CE ;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}
.post .icons{
    display: flex;
    border: solid 2px #000000;
    border-radius: 30px;
    width: 180px;
    margin-right: 20px;
    justify-content: space-around;
    align-items: center;
}
.post .icons button{
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.post .icons .nbr{
    font-size: 14px;
    margin-left: -20px;
}