@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
    font-family: 'Lora', serif;
}
body{
    background-color: #FBF6F0;
}
.Post{
    margin-top: 50px;
    padding: 0px 100px;
    display: flex;
    border-bottom:solid 1px black;
    height: 200px;
}
.Post .first{
    border-right: solid 1px black;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px 0 0;
}
.Post .first button{
    background-color: #FFFFFF;
    border-radius: 30px;
    border: solid 2px #739072;
    width: 100%;
    height: 20%;
    cursor: pointer;
}
.Post .first button:hover{
    background-color:#739072 ;
}
.Post .second{
    margin-left: 30px;
}

.Post .tag-date{
    display: flex;
    justify-content:space-between ;
}
.Post .tag{
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
}
.Post .language,.Post .category{
    border:none;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    background-color:#ECE3CE ;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}
.postpage .content{
    border-bottom: solid 1px black;
    padding: 0 18%;
    margin-top: 50px;
}
.postpage .icons{
    display: flex;
    border-radius: 30px;
    width: 180px;
    margin-right: 20px;
    justify-content: space-around;
    align-items: center;
    margin-left: 80%;
}
.postpage .icons button{
    background-color: #FBF6F0;
    border: none;
    cursor: pointer;
}
.postpage .icons .nbr{
    font-size: 15px;
    margin-left: -40px;
}